.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(90deg, #03bdc0 0%, #fc00ff 100%);
}

.login-box {
  width: 448px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  padding: 2.5rem 2rem;
  margin: 0 2rem;
  border-radius: 16px;
  box-shadow: var(---shadow-10);
}

.logo {
  text-align: center;
  font-size: 2rem;
}

.form-errors {
  background-color: rgb(255, 131, 131);
  border: 1px solid rgb(255, 92, 92);
  margin-bottom: 1rem;
  font-weight: bold;
}

.form-errors ul {
  list-style-type: none;
  padding-left: 1rem;
}
