.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(---color-primary-purple-00);
}

.login-box {
  width: 448px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 2.5rem 2rem;
  margin: 0 2rem;
}

.logo {
  text-align: center;
  font-size: 2rem;
}

.form-erros {
  background-color: rgb(255, 131, 131);
  border: 1px solid rgb(255, 92, 92);
  margin-bottom: 1rem;
  font-weight: bold;
}

.form-erros ul {
  list-style-type: none;
  padding-left: 1rem;
}

.form-erros li:not(:last-child) {
  text-decoration: none;
  margin-bottom: 0.5rem;
}
