.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(---color-primary-purple-00);
}

.login-box {
  width: 448px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 2.5rem 2rem;
  margin: 0 2rem;
}

.logo {
  text-align: center;
  font-size: 2rem;
}

.bt-login {
  height: 40px;
  border: none;
  background-color: var(---color-primary-purple-00);
  color: white;
}
