:root {
  ---color-primary-purple-00: #6600ca;
  ---color-neutral-dark-00: #212121;

  ---shadow-00: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  ---shadow-10: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

body {
  color: var(---color-neutral-dark-00);
}

.App {
  margin: 0 auto;
  background-color: white;
}

/* margins */

.mt-00 {
  margin-top: 0.5rem;
}
.mt-10 {
  margin-top: 1rem;
}
.mt-20 {
  margin-top: 2rem;
}

/* fields */
.fields {
  display: flex;
  flex-direction: column;
}

.field {
  height: 2.5rem;
  margin-top: 0.25rem;
  margin-bottom: 2rem;
  padding-left: 0.5rem;
  transition: 0.2s;
  border: 1px solid var(---color-neutral-dark-00);
}

.fields span {
  font-weight: 600;
}

.field:focus {
  box-shadow: var(---shadow-10);
  outline: none;
}
