:root {
  ---color-primary-purple-00: #6600ca;
  ---color-neutral-dark-00: #212121;
}

body {
  color: var(---color-neutral-dark-00);
}

.App {
  margin: 0 auto;
  background-color: white;
}

/* margins */

.mt-00 {
  margin-top: 0.5rem;
}
.mt-10 {
  margin-top: 1rem;
}
.mt-20 {
  margin-top: 2rem;
}
