.navers-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navers-page .wrapper {
  width: 100%;
  max-width: 1200px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
