.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  max-width: 1200px;
}

.logo path {
  fill: var(---color-primary-purple-00);
}

.logo {
  cursor: pointer;
}

.bt-sair {
  padding: 0.8rem 1rem;
  cursor: pointer;
}

.bt-sair:hover {
  font-weight: 600;
  background-color: rgb(233, 233, 233);
}
