.create-naver-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create-naver-page .wrapper {
  width: 100%;
  max-width: 592px;
}

.create-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bt-voltar {
  margin-right: 1.5rem;
  cursor: pointer;
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-align-items: center; /* Safari 7.0+ */
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

/* fields */

.fields > div {
  display: flex;
  flex-direction: column;
}

.create-naver-page .fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

/* bt salvar */

.create-naver-page .submit {
  display: flex;
  justify-content: right;
}

/* modal success */

.modal-success .fechar {
  float: right;
}

@media (max-width: 1200px) {
  .create-naver-page {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .create-naver-page .fields {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.5rem;
  }

  .wrapper {
    margin-bottom: 4rem;
  }
}
